<head>
  <title>{{ .Title }}</title>
  <link rel="preload" href="{{ .URLBullPrefix }}gofont/goregular.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="{{ .URLBullPrefix }}gofont/gobold.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="{{ .URLBullPrefix }}gofont/gomono.ttf" as="font" type="font/ttf" crossorigin>
  <style>
    /* Only @font-face and font-family directives are embedded directly into
     * the page (for fastest font loading), the rest is in css/bull.css. */

    @font-face {
	font-family: 'Go';
	src: url('{{ .URLBullPrefix }}gofont/goregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
    }

    @font-face {
	font-family: 'Go';
	src: url('{{ .URLBullPrefix }}gofont/gobold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: block;
    }

    @font-face {
	font-family: 'Go Mono';
	src: url('{{ .URLBullPrefix }}gofont/gomono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
    }

    body, td, th {
	font-family: 'Go';
	font-size: 16px;
    }

    h1, h2, h3, h4, h5, h6 {
	font-family: 'Go';
	font-weight: bold;
	font-variant-ligatures: none;
    }

    pre, code, .cm-content {
	font-family: 'Go Mono';
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{{ .URLBullPrefix }}css/bull.css?cachebust={{ call .StaticHash "css/bull.css" }}">
  <link rel="search" type="application/opensearchdescription+xml" href="{{ .URLBullPrefix }}opensearch.xml">
</head>
