<!DOCTYPE html>
{{ template "head.html.tmpl" . }}
<body>
  {{ template "nav.html.tmpl" . }}
  <main>
    <div>
        {{ if .Page.Exists }}
          {{ if .Page.IsGenerated }}
          <h1 class="bull_title">{{ .Page.PageName }}</h1>
          {{ else }}
          <h1 class="bull_title">
          {{ $components := .Page.NameComponents }}
          {{ $last := lastidx $components }}
          {{ range $idx, $dir := $components }}
          {{ if (eq $idx $last) }}
          {{ $dir }}
          {{ else }}
          {{ $path := (componentsUntil $components $idx) }}
          <a href="{{ $.URLBullPrefix }}browse?dir={{ $path }}">{{ $dir }}</a> /
          {{ end }}
          {{ end }}
        </h1>
        {{ end }}
        {{ template "lastupdate.html.tmpl" . }}
        {{ end }}

	<div class="bull_page {{ .Page.Class }}">
	  {{ .Content }}
	</div>

      </div>

    </div>
  </main>

{{ if (or (eq .Watch "true") (eq .Watch "workaround")) }}
  <script type="text/javascript">
    var u = new URL(document.URL);
    u.pathname = '{{ .URLBullPrefix }}watch/' + u.pathname.substr('{{ .URLPrefix }}'.length);
    var params = new URLSearchParams();
    params.set('hash', '{{ .ContentHash }}');
    u.search = params.toString();
    {{ if (eq .Watch "workaround") }}
    // systemd-resolved synthesizes DNS resource records for any hostname ending
    // in .localhost, which allows us to circumvent the 6 connections per origin
    // limit that browsers like Chrome and Firefox enforce.
    if (u.hostname == 'localhost') {
	u.hostname = 'watch' + Math.floor(Math.random() * 100) + '.localhost'
    }
    {{ end }}
    var updates = undefined;
    function watch() {
      if (updates !== undefined) {
        console.log('stream still alive');
        return;
      }
      updates = new EventSource(u.toString());
      updates.onmessage = function(e) {
        //const update = JSON.parse(e.data)
        console.log('page changed:', e.data);
        location.reload();
      }
    }
    function unwatch() {
      if (updates === undefined) {
        return;
      }
      console.log('closing stream');
      updates.close();
      updates = undefined;
    }
    // Only watch for changes while the tab is visible.
    document.addEventListener("visibilitychange", () => {
      if (document.hidden) {
        unwatch();
      } else {
        watch();
      }
    });
    // NB: I am not sure if the unload handler fixes the problem
    // because it closes the EventSource connection,
    // or because the mere presence of an unload handler prevents
    // pages from entering the bfcache.
    window.addEventListener("unload", unwatch);
    window.addEventListener("pagehide", unwatch);
    window.addEventListener("pageshow", watch);
  </script>
{{ end }}

  <script src="{{ .URLBullPrefix }}js/nav.js?cachebust={{ call .StaticHash "js/nav.js" }}" async></script>

</body>
</html>
