<!DOCTYPE html>
{{ template "head.html.tmpl" . }}
<body>
  {{ template "nav.html.tmpl" . }}
  <main>
    <div>
      {{ if .Page.ModTime.IsZero }}
      <h1 class="bull_title">Create page "{{ .Page.PageName }}"</h1>
      {{ else }}
      <h1 class="bull_title">Edit page "{{ .Page.PageName }}"</h1>
      {{ template "lastupdate.html.tmpl" . }}
      {{ end }}

      <div class="bull_page">

	<!-- TODO: implement -editor=textarea -->

	<form action="/_bull/save/{{ .Page.PageName }}" method="post">
	  <input type="hidden" id="bull-markdown" name="markdown">
	  <input type="submit" id="bull-save" value="save page">
	</form>

	<div id="cm-goes-here"></div>

      </div>

    </div>
  </main>

  <!-- Pull in the CodeMirror JavaScript editor component: -->
  <script type="text/javascript">
    const BullMarkdown = `{{ .MarkdownContent }}`;
  </script>
  <script type="text/javascript" src="/_bull/js/bull-codemirror.bundle.js"></script>

  <script type="text/javascript">
    var u = new URL(document.URL);
    var updates = new EventSource('/_bull/watch' + u.pathname);
    window.onbeforeunload = function() { updates.close(); };
    updates.onmessage = function(e) {
	//const update = JSON.parse(e.data)
	console.log('page changed:', e.data);
	// TODO: show a notice about concurrent edit tabs
	// TODO: show an out-of-date notice
	//location.reload();
    }
  </script>

</body>
</html>
