<!DOCTYPE html>
{{ template "head.html.tmpl" . }}
<body>
  {{ template "nav.html.tmpl" . }}
  <main>
    <div id="bull_wrap0">
      <div class="bull_pagewrapper {{ if .Page.IsGenerated }}bull_pagewrapper_gen{{ end }}">

	{{ if (ne .Page.PageName "") }}
	<h1 class="bull_title">{{ .Page.PageName }}</h1>
	{{ template "lastupdate.html.tmpl" . }}
	{{ end }}

	<div class="bull_page" autofocus="autofocus">

	  {{ .Content }}

	</div>

      </div> <!-- bull_pagewrapper -->
    </div>
  </main>

  <script type="text/javascript">
    var u = new URL(document.URL);
    var updates = new EventSource('/_bull/watch' + u.pathname);
    window.onbeforeunload = function() { updates.close(); };
    updates.onmessage = function(e) {
	//const update = JSON.parse(e.data)
	console.log('page changed:', e.data);
	location.reload();
    }
    /* Our <body> is not scrollable, so we need to set focus
       on the first scrollable element manually, otherwise pressing
       the down/up arrow keys after pageload does not work. */
    document.getElementById('bull_wrap0').tabIndex = '-1';
    document.getElementById('bull_wrap0').focus();
  </script>

</body>
</html>
